{
	email dlastra@gazeti.com.mx
}

www.moviendoleyendas.com {
	encode gzip zstd

	handle /api/* {
		reverse_proxy backend:8000
	}

	handle {
		reverse_proxy frontend:80
	}
}

moviendoleyendas.com {
	redir https://www.moviendoleyendas.com{uri} permanent
}
